body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #fafdff;
  color: #222;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  margin-top: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}